<%- include ('../maqueta/cabecera.ejs') %>
            <div class="card">
                <div class="card-content">
                <span class="card-title">Editar Libro</span>
                <a>Bienvenido: <%= nombresession %></a>
                </div>
                <div class="card-content">
                    <form id="editar_libro" action="../actualizar/" method="post" enctype="multipart/form-data">
                        <div class="input-field col s12">
                            <input placeholder=""  name="id" type="hidden" class="validate" required="" aria-required="true" maxlenght="11" value="<%= libro.id %>">
                            <input placeholder=""  name="imagen_old" type="hidden" class="validate" required="" aria-required="true" maxlenght="1500" value="<%= libro.imagen %>">
                            <input placeholder="" id="titulo" name="titulo" type="text" class="validate" required="" aria-required="true" maxlenght="50" value="<%= libro.titulo %>">
                            <label for="titulo" data-error="wrong" data-success="right">Titulo </label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="" id="autor" name="autor" type="text" class="validate" required="" aria-required="true" maxlenght="50" value="<%= libro.autor %>">
                            <label for="autor" data-error="wrong" data-success="right">Autor </label>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="" id="descripcion" name="descripcion" type="text" class="validate" required="" aria-required="true" maxlenght="250" value="<%= libro.descripcion %>">
                            <label for="descripcion" data-error="wrong" data-success="right">Descripción </label>
                        </div>
                        <div class="input-field col s12">
                            <img src="../../images/<%= libro.imagen %>" width="200" alt="<%= libro.imagen %>">
                           
                        </div>
                        <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class="btn btn-small">
                                  <span>Agregar imagen</span>
                                  <input placeholder="" id="imagen" name="imagen" type="file" class="validate" required="" accept=".jpg,.jpeg,.png" aria-required="true"   >
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text" >
                                </div>
                              </div>
                        </div>            
                        <button class="btn waves-effect waves-light"  type="submit">Editar</button>            
                        <a  class="btn waves-effect waves-light" href="/biblioteca/libro">Cancelar</a>           
                    </form>
                </div>
            </div>
<%- include ('../maqueta/pie.ejs') %>